@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffdede;
  font-family: "Sofia", sans-serif;
}

.container {
  position: relative;
}

#text {
  color: #fa8471;
  font-size: 3rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vmin;
}

button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 4vmin;
  padding: 1.5vmin 5vmin;
  background-color: pink;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffc0cb;
}

.cat-gif {
  width: 80%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  left: 10%;
}

h2 {
  text-align: center;
  margin-top: 4vmin;

  font-size: 3rem;
}
